*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#004aad ;
}
.header{
    height:650px;
    background-image: url("images/head.png");
    background-size: cover;
}
.play{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
#btn{
    height:50px;
    width:250px;
    font-size:20px;
    font-weight: bolder;
    border:1px solid black;
    background-color: white;
    color: #004aad ;
    cursor: pointer;
}

/* Tablet */
@media (max-width:1024px){
    body{
        background: #00aaff;
    }
    .header{
        height: 1000px;
        background-position:center;
        background-image: url("images/headT.png");
        background-size:contain;
        background-repeat: no-repeat;
    }
    #btn{
        width:220px;
        height:50px;
        font-size:18px;
        margin-top: 5px;
    }
}


/* Mobile */
@media (max-width:768px){
    body{
        background: #00aaff;
    }
    .header{
        height:600px;
        background-image: url("images/headM.png");
        background-position:center;
        background-size:contain;
        background-repeat: no-repeat;
    }
    .play{
        margin-top: 5px;
    }
    #btn{
        width:180px;
        height:45px;
        font-size:16px;
    }
}